body {
  background: grey;
}

#game_board {
  margin: 40px;
  border: solid 1px black;
}

.empty_tile {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
  background: white;
}

.wall_tile {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
  background-size: cover;
  background-image: url("../img/wall.jpg");
}

.warrior_tile {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
  background-size: cover;
  background: orange;
}

.tt_in_tile {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
  background-size: cover;
  background: blue;
}

.tt_out_tile {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
  background-size: cover;
  background: purple;
}

.invis {
  background-size: cover;
  background-image: url("../img/wall.jpg") !important;
}
